      @font-face {
        font-family: 'ArcadeClassic';
        src: url('fonts/ARCADECLASSIC.TTF') format('truetype');
        font-weight: normal;
        font-style: normal;
      }

      body {
      font-family: 'ArcadeClassic', Arial, sans-serif !important;
      background-color: hwb(0 10% 90%) !important;
      color: white !important;
      }
    
      .cover-image::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background: radial-gradient(circle,
            rgba(0, 0, 0, 0) 40%,
            rgba(0, 0, 0, 0.5) 100%);
      }

      .profile-img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px solid white;
        object-fit: cover;
        object-position: center;
        background: #aaa;
        position: absolute;
        left: 40px;
        bottom: -90px;
        z-index: 2;
      }

      .body-section {
        padding-top: 80px;
        padding-bottom: 120px;
        background: #272727;
        min-height: calc(100vh - 20px);
      }

      table td {
        font-family: 'Courier New', Courier, monospace !important;
      }
      
      table tr td,
      table tr th {
        background-color: transparent !important;
        color: #fff !important;
      }

      .side {
        background: #eee;
        min-height: 100vh;
        opacity: 0.4 !important;
      }

      .scl-icns {
        height: 35px;
        width: 35px;
      }